<h1>Hair Salon</h1>
<hr />
<h2>Clients:</h2>
<ul>
  @if (Model.Count != 0)
  {
    @foreach (var client in Model)
    {
      <li>@client.GetName() | <a href="/client/edit/@client.GetId()">Edit</a>| <a href="/client/delete/@client.GetId()">Delete</a></li>
    }
  }
  else
  {
  <p> You Have No Clients, Please add one </p>
  }
</ul>
<h4><a href="/clients/new">Add a new client</a></h4>
<h4><a href="/">Return home</a></h4>
